aside {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  }
  
  aside.d-lg-inline-block {
    min-width: 250px;
  }
  
  ul {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  .li-border, .li-border-logout {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem .5rem;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  
  .li-border{
    border-bottom: 2px solid var(--cinza-claro);  
  }
  
  .li-border-logout {
    border-top: 2px solid var(--cinza-claro);
  }
  
  h1 {
    font-size: 24px;
    color: var(--amarelo);
    margin: 0;
  }
  
  .bi {
    color: var(--amarelo);
    font-size: 20px;
  }
  
  .li-ativo {
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.100),
                0 5px 5px rgba(0, 0, 0, 0.100);
    border-left: 5px solid var(--amarelo);
  }