main form,
table {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171) !important;
}

form input {
  background-color: var(--cinza-claro);
}

.btn-nova-tarefa {
  background-color: var(--amarelo);
}

td img {
  max-width: 100%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  main form > div {
    width: 50% !important;
  }
}