.header-perfil {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171) !important;
  }
  
  main {
    height: 100vh;
  }
  
  .div-perfil {
    max-width: 1000px;
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  section {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  }
  
  .p-4.rounded-5 {
    background-color: var(--azul);
  }