:root {
    --azul: #B2D7FF;
    --cinza: #E5E7EB;
    --amarelo: #f08710;
    --cinza-claro: #eeeeee;
}

* {
    box-sizing: border-box !important;
}

body {
    background-color: var(--cinza) !important;
}