@media (min-width: 768px) {
    .aside {
        min-width: 250px;
    }
}

.h1 {
    font-size: 24px;
    color: var(--amarelo);
    margin: 0;
}

.icones {
    color: var(--amarelo);
    font-size: 20px;
}

.li-ativo {
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.048),
        0 5px 5px rgba(0, 0, 0, 0.048);
    border-left: 5px solid var(--amarelo);
}